In [8]:
import pandas as pd

In [11]:
data_oil = pd.read_csv ( r'C:\Users\leomendez\Downloads\crude-oil-price.csv', sep=',')

Eliminar filas que contienen al menos un valor nulo

# <shape para ver las dimensiones del dataframe o el array>

In [14]:
data_oil.shape

(509, 4)

In [16]:
data_oil

                          date    price  percentChange   change
0    1983-03-01 00:00:00+00:00  29.2700            NaN      NaN
1    1983-04-01 00:00:00+00:00  30.6300          4.646   1.3600
2    1983-05-01 00:00:00+00:00  30.2500         -1.241  -0.3800
3    1983-06-01 00:00:00+00:00  31.3800          3.736   1.1300
4    1983-07-01 00:00:00+00:00  32.0000          1.976   0.6200
..                         ...      ...            ...      ...
504  2025-03-01 00:00:00+00:00  71.4800          2.466   1.7200
505  2025-04-01 00:00:00+00:00  58.2100        -18.565 -13.2700
506  2025-05-01 00:00:00+00:00  60.7900          4.432   2.5800
507  2025-06-01 00:00:00+00:00  65.1100          7.106   4.3200
508  2025-07-01 00:00:00+00:00  70.3608          8.065   5.2508

[509 rows x 4 columns]

In [18]:
data_oil.dtypes

date              object
price            float64
percentChange    float64
change           float64
dtype: object

In [24]:
# Con fillna() se convierten los vacios en 0
df_filled = data_oil.fillna(0)

In [22]:
df_filled

                          date    price  percentChange   change
0    1983-03-01 00:00:00+00:00  29.2700          0.000   0.0000
1    1983-04-01 00:00:00+00:00  30.6300          4.646   1.3600
2    1983-05-01 00:00:00+00:00  30.2500         -1.241  -0.3800
3    1983-06-01 00:00:00+00:00  31.3800          3.736   1.1300
4    1983-07-01 00:00:00+00:00  32.0000          1.976   0.6200
..                         ...      ...            ...      ...
504  2025-03-01 00:00:00+00:00  71.4800          2.466   1.7200
505  2025-04-01 00:00:00+00:00  58.2100        -18.565 -13.2700
506  2025-05-01 00:00:00+00:00  60.7900          4.432   2.5800
507  2025-06-01 00:00:00+00:00  65.1100          7.106   4.3200
508  2025-07-01 00:00:00+00:00  70.3608          8.065   5.2508

[509 rows x 4 columns]